{% extends 'base.html.twig' %}

{% block title %}Edit Reader{{ Reader.username}}{% endblock %}

{% block body %}
	<h1>Edit Reader{{ Reader.username }}</h1>
	
    {{ form_start(form) }}
	{{ form_widget(form) }}

	<button type="submit" class="btn btn-primary">Save</button>
	<a href="{{ path('listre') }}">Cancel</a>

	{{ form_end(form) }}
{% endblock %}